@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

.container-userdata{
    //margin-bottom:80px;
    //margin-left:50px;
}
.container-form{
    width:100%;
    padding: 90px 20px 20px 20px;
    margin-bottom: 20px; 
}
.container-tittle{
    display: flex;
    justify-content: center;
}
.container-sales{
    background: #fff;
    //margin-left: 30px;
    margin-bottom: 50px;
}
.ic-Edit{
    margin-top:50px;
    width:100%;
    height: auto;
}
#iconoEditar{
    max-width: 20px;
}
.input-text{
    padding: 14px 20px;
    border: 1px solid #4C75DF;
    //background: #C98474;
    margin-bottom: 20px;
    border-radius: 3px;
    width: 100%;
    outline: 0;
    font-size: 20px;
    color: #000000;
}