

.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    align-content: center;
}

.card-img{
    margin-top: 2rem;
    align-self: center;
    width: 20%;
    border-radius: 20%;
}

.btn{
    margin-bottom: 1em;
    
}