.container-fluid{
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-img-top{
    width: 30%;
    align-self: center;
    margin-top: 2rem;
    border-radius: 20%;
}

.btn{
    margin-bottom: 2rem;
}