#cont1, #cont2, #cont3{
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#imgP1, #imgP2, #imgP3{
    width: 30%;
    align-self: center;
    margin-top: 2rem;
    border-radius: 20%;
}

#btn1, #btn2, #btn3{
    margin-bottom: 2rem;
}