html {
    scroll-padding-top: 140px; /* height of sticky header */
}

body{
    background-color: #DDDDDD;
}

#bottom-offcanvas{
    margin-bottom: 15px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#offcanvas-body-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Para prevenir que el input de busqueda salte de linea, y que no se vea el borde del icono al hacer click */
/* Se resetean los estilos default para el boton de hamburguesa */
#navbarToggler{
    padding: 0;
    border-radius: 70px;
    border-style: none;
    --bs-navbar-toggler-padding-y: 0;
    --bs-navbar-toggler-padding-x: 0;
    --bs-navbar-toggler-font-size: 0;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0);
    --bs-navbar-toggler-border-radius: 0;
    --bs-navbar-toggler-focus-width: 0;
    --bs-navbar-toggler-transition: box-shadow 0s ease-in-out;
}

.navbarBackground{
    background-color: orange;
}

 #navContainer{
    width: 100%;
} 

.footer{
    text-align: center;
    color: white;
    background-color: #000839;
}