.title-iniciarSesion{
  padding-bottom: 1em;
}

.form{
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  padding-bottom: 2em;
  background-color: white;
  text-align: center;
  font-size: larger
}

.inputs-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.boton-content{
  margin-top: .8em;
}

.boton{
  width: 8em;
}

.InputImagenes{
  max-width: 12em;
  min-width: 5em;
  margin-bottom: 1em;
  margin-right: 1em;
}