body {
    background-color: #dddddd;
  }
  
  header {
    background-color: #ff861c;
  }
  
  .articulos {
    text-align: center;
    font-size: 5rem;
  }
  
  .container {
    background-color: #dddddd;
  }
  
  .footer{
    text-align: center;
    color: white;
    background-color: #000839;
  }

  .simulationHeight{
   /*  min-height: 200px; */
    background-color: white;
  }

  #precioCantidad{
    justify-content: center;
  }

.carousel-item{
  background-color: white;
}

.carousel-item img{
  object-fit: scale-down;
  height: 450px;
}

#previewPics a{
  cursor: pointer;
}

#testButton{
  border: none;
  background: green;
}

/* .reviewContainer{
  background: white;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px;
} */

#bodyContainer{
  background-color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
}