@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

.tittle{
  padding-bottom: 3em;
}

h1{
  font-family: 'Quicksand', sans-serif;
  font-weight:600;
}

p{
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
}

.botonesRedes{
  padding: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
}

.acercaImg{
  width: 20em;
  padding: 1em;
}

.espacio{
  padding: 2em;
}

.background{
  background-color: #DDDDDD;
}


.footer{
  text-align: center;
  color: white;
  background-color: #000839;
}