.botonesRedes{
  padding: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight:400;
}

.acercaImg{
  width: 20em;
  padding: 1em;
}

.espacio{
  padding: 2em;
}

.background{
  background-color: #DDDDDD;
}