body {
    background-color: #dddddd;
  }
  
  header {
    background-color: #ff861c;
  }
  
  .articulos {
    text-align: center;
    font-size: 5rem;
  }
  
  .container {
    background-color: #dddddd;
  }
  
  .footer {
    text-align: center;
    color: white;
    background-color: #000839;
  }



  .shopContentCart{
    display: flex;
   border-radius: 10px;
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 30;
   margin-left: 80px;
   margin-right: 80px;
   padding: 1em;
   gap: 3px;
  margin-top: 3px;
 
  }

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
  }
  .card:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }

.card > img{

    width: 100%;
    height: 180px;
    object-fit: scale-down;
}

.ocultarDescripcionLarga {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 150px;
  
  }
  h5 {
    text-align: center;
  }
  
.price{
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
  text-align: center;
}
.calificacion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.calificacion .estrella {
  color: #f8ce0b;
  margin-right: 4px;
}

.shopContentCart .Buttom{
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto 0;
  padding: 16px;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #3483fa;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}


.shopContentCart .Buttom:hover{
  background-color: #0069d9;
   
}

.contenedorCart{
  max-width: 1200px;
  margin: 0 auto;
}
.contenedorCart > h1{
  padding: 20px 0;
  transform: scale(1.01);
}
.containerShopping{
  display: flex;
}


/*************carrito****************************/

.products{
  background-color: white;
   display: flex;
   width: 200%;
   height: 250px;
   overflow: hidden;
   border: 1px solid silver;
 }
 .products:hover{
   border: none;
   box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
 }
 .products >img{
   width: 100px;
   height: 250px;
   object-fit: scale-down;
  
 }
 .products >img:hover{
   transform: scale(1.04);
 }
 .products-info{
   padding: 20px;
   width: 100px;
   position: relative;
 }
 .products-name .products-price{
   margin-bottom: 20px;
 }
 .-deleteButtom{
   position: absolute;
   bottom: 20px;
   right: 20px;
   padding: 10px;
 }
 
 .grid{
   display: flex;
   justify-content: center;
  
 }
 .carrito{
   background-color: white;
   padding: 1em;
   display: flex;
 }
 .carrito:hover{
   border: 1px solid rgb(212, 214, 209);
 }
 .carritoCompras{
   margin: 0  5px;
   padding: 10px;
 }
 
 
 /* --------------------------------------------- */
 
 .sectionBody2 {
   background-color: white;
   padding: 1em;
   border-radius: 10px;
   
 }
 
 .totalCompra{
 
   font-size: 2em;
 }
 .total{
 
   font-size: 1em;
 }
 
 
 .eliminar button {
   background-color: #3483fa;
   border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   border-radius: 4px;
   cursor: pointer;
   transition-duration: 0.4s;
 }
 
 .eliminar button:hover {
   background-color: #0069d9;
 }
 
 .sectionBody2{
  background-color: white;
  margin: 10px 0px;
  padding: 10px 0 10px 0;
  border-radius: 15px;
  box-shadow: 11px 10px 15px -3px rgba(0,0,0,0.1);
}
.carritoCon {
  background-color: white;
  width: 100%;
  height: 120%;
  margin: 20px auto; /* "auto" centra el elemento horizontalmente */
  border-radius: 6px;
  margin-bottom: 10px;
}




.articulo{
 
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
  }
  
  .tittle2{
    background-color: white;
  }