@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

h1, h3{
    font-family: 'Quicksand', sans-serif;
    font-weight:600;
}
  
p{
    font-family: 'Quicksand', sans-serif;
    font-weight:400;
}

.datos{
    background-color: #fff;
}

.title{
    margin-top: 1em;
}

.imagen{
    min-width: 1%;
    max-width: 100%;
}

.divNombre{
    display: flex;
    align-items: center;
}

.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.boton{
    margin-bottom: 1em;
}